/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

@media only screen and (max-width: 50em) {
  p, h1, h2, h3, ol {
      padding-left: 1px!important;
  padding-right: 1px!important;
  }
  body{
          padding-left: 1px !important;
  padding-right: 1px!important;
  min-width: 10em;
  }
  img{
    max-width: 90% !important;
    padding: 1em !important;
  }
  .flex-container{
    flex-wrap: wrap !important;
  }
}


.flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-wrap: nowrap;
}

.flex-container > div {
}

p, h1, h2, h3, ol{
  padding-left: 10rem;
  padding-right: 10rem;
}

p{
  font-size: 1.3em;
  line-height: 1.4em;
  /* margin-left: 10em;
margin-right: 10em; */
}

li{
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}

body {
  font-family: 'Karla', sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

h1 {
  font-size: 3em;
   /* margin-left: 5em;
margin-right: 5em; */
}

h2 {
  /*margin-left: 10em;
margin-right: 10em; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}


img {
  padding: 5rem;
  max-width: 50%;
  justify-content: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* 
    padding: 5rem;
  max-width: 70%;
  justify-content: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}

input[type=button], input[type=submit], input[type=reset] {
    font-family: 'Karla', sans-serif;
  /*border: 2px solid black; */
  border-style: none;
  background-color: #4964F3;
  color: white;
  margin-top: 1rem;
  padding: 0.3rem 2rem;
  text-decoration: none;
  cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type="submit"]:hover,  input[type=reset]:hover {

    background-color: #2743D8;
    color: white;
}






.flex-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  flex-wrap: nowrap;

}

.flex-container > div {
  width: auto;
  max-width: 45%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding: 0rem;
  max-width: 100%;

}







.image {
  opacity: 1;
  display: block;
  width: 100%;
  
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.flex-container > div:hover .image {
  opacity: 0.3;

}

.flex-container > div:hover .middle {
  opacity: 1;

}

.text {
  color: white;
  font-size: 8em;
  padding: 16px 32px;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;


}


.blue {
  background: #4964F3;
}

.yellow {
  background: #ECA315;
}



.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav-right {
  float: right;
}

div.a {
  text-align: center;
  padding: 5em;
}
